# Python API for DolphinDB

DolphinDB Python API supports Python 3.6 or above.

DolphinDB Python API in essense encapsulates a subset of the DolphinDB script language. It converts Python script to DolphinDB script to be executed on the DolphinDB server. The execution result can either be saved to an object on DolphinDB server, or be serialized to a Python client object. 

There are 2 types of Python API methods. The first type generates DolphinDB script but does not trigger script execution; the second type triggers script execution. Most Python API methods are of the first type. The table below lists all the methods of the second type. They all belong to the table class. 

| Method        | Explanation          |
|-------------- |--------------|
|connect(host, port, [username, password])    | Connect a session to a DolphinDB server |
|toDF()    | Convert a DolphinDB table object to a pandas Dataframe object |
|executeAs(tableName)    | Save a table on DolphinDB server with the specified table name |
|execute()    | Used with **update** and **delete** methods |
|database(dbPath, ......)    | Create or reload a database |
|dropDatabase(dbPath)    | Delete a database |
|dropPartition(dbPath, partitionPaths)    | Delete database partitions |
|dropTable(dbPath, tableName)    | Delete a table |
|drop(colNameList)    | Delete columns from a table |
|ols(Y, X, intercept)   | Conduct ordinary least squares regression and return a dictionary of regression results |

The examples in this tutorial use a csv file: [example.csv](https://github.com/dolphindb/api-python3/blob/master/data/example.csv).

### 1 Connect to DolphinDB

Python interacts with DolphinDB through a session. In the following example, we first create a session in Python, then connect the session to a DolphinDB server with specified domain name/IP address and port number. We need to start a DolphinDB server before running the following Python script.

In [1]:
import dolphindb as ddb
s = ddb.session()
# for atandalone mode
#s.connect("localhost",8848)

If you need to enter username and password:

In [ ]:
s.connect("localhost",8848, YOUR_USERNAME, YOUR_PASSWORD)

In [2]:
s.connect("localhost",8941,"admin","123456")

True

The default admin account username and password for DolphinDB server are "admin" and "123456" respectively.

### 2 Import data to DolphinDB server

There are 3 types of DolphinDB databases based on where they are saved: in DFS (Distributed File System), in local file system and in memory. DolphinDB is a distributed database system and achieves optimal performance in DFS mode. DFS also automatically manages data storage and duplication. Therefore, we highly recommend to use DFS mode. Please refer to the tutorial multi_machine_cluster_deploy for details. For users to get started quickly, we also use databases in the local file system in the examples in this tutorial. All DFS database paths start with "dfs://".

#### 2.1 Import data as an in-memory table

To import text files into DolphinDB as an in-memory table, use session method **loadText**. It returns a DolphinDB table object in Python, which corresponds to an in-memory table on the DolphinDB server. The DolphinDB table object in Python has a method **toDF** to convert it to a pandas DataFrame.

Please note that to use method **loadText** to load a text file as an in-memory table, data size must be smaller than available memory.

In [3]:
WORK_DIR = "C:/DolphinDB/Data"

# return a DolphinDB table object in Python
trade=s.loadText(WORK_DIR+"/example.csv")

# convert the imported DolphinDB table object into a pandas DataFrame
df = trade.toDF()
print(df)

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_6e1159b6
      TICKER       date       VOL        PRC        BID       ASK
0       AMZN 1997-05-15   6029815   23.50000   23.50000   23.6250
1       AMZN 1997-05-16   1232226   20.75000   20.50000   21.0000
2       AMZN 1997-05-19    512070   20.50000   20.50000   20.6250
3       AMZN 1997-05-20    456357   19.62500   19.62500   19.7500
4       AMZN 1997-05-21   1577414   17.12500   17.12500   17.2500
5       AMZN 1997-05-22    983855   16.75000   16.62500   16.7500
6       AMZN 1997-05-23   1330026   18.00000   18.00000   18.1250
7       AMZN 1997-05-27    726192   19.00000   19.00000   19.1250
8       AMZN 1997-05-28    382132   18.37500   18.37500   18.6250
9       AMZN 1997-05-29    289970   18.06250   18.00000   18.1250
10      AMZN 1997-05-30    216530   18.00000   18.00000   18.1250
11      AMZN 1997-06-02     49764   18.12500   18.12500   18.3750
12      AMZN 1997-06-03     99107   17.75000   17.75000   17.8750
13      AMZN 1997-06-04    257316   17.00000   17.00000   17.2500
14      AMZN 1997-06-05    473301   18.50000   18.37500   18.5000
15      AMZN 1997-06-06    651741   19.87500   19.87500   20.1250
16      AMZN 1997-06-09    196603   20.25000   20.18750   20.5000
17      AMZN 1997-06-10    455531   19.00000   19.00000   19.1250
18      AMZN 1997-06-11     99481   18.50000   18.37500   18.7500
19      AMZN 1997-06-12    136461   19.25000   19.25000   19.3125
20      AMZN 1997-06-13     58058   19.00000   19.00000   19.1875
21      AMZN 1997-06-16     76922   18.87500   18.75000   19.1250
22      AMZN 1997-06-17    393436   18.06250   18.06250   18.2500
23      AMZN 1997-06-18    206108   18.12500   18.00000   18.1250
24      AMZN 1997-06-19     84121   18.12500   18.12500   18.3750
25      AMZN 1997-06-20    282926   18.31250   18.25000   18.5000
26      AMZN 1997-06-23     88120   18.00000   17.75000   18.0000
27      AMZN 1997-06-24     62771   18.12500   18.12500   18.3125
28      AMZN 1997-06-25    176059   18.12500   18.12500   18.2500
29      AMZN 1997-06-26    266122   18.12500   18.12500   18.1875
...      ...        ...       ...        ...        ...       ...
13106   NFLX 2016-11-17   6232744  115.03000  115.03000  115.0400
13107   NFLX 2016-11-18   6746783  115.21000  115.20000  115.2400
13108   NFLX 2016-11-21   7064528  117.96000  117.96000  117.9800
13109   NFLX 2016-11-22   7007188  118.04000  118.04000  118.0600
13110   NFLX 2016-11-23   4521314  117.69000  117.68000  117.7000
13111   NFLX 2016-11-25   1616260  117.41000  117.38000  117.4100
13112   NFLX 2016-11-28   5278861  116.93000  116.92000  116.9300
13113   NFLX 2016-11-29   7089548  117.51000  117.51000  117.5200
13114   NFLX 2016-11-30   7715103  117.00000  117.00000  117.0200
13115   NFLX 2016-12-01   8636943  117.22000  117.22000  117.2400
13116   NFLX 2016-12-02   8953590  120.81000  120.81000  120.8400
13117   NFLX 2016-12-05   7626283  119.16000  119.15000  119.1600
13118   NFLX 2016-12-06  11513209  124.57000  124.56000  124.6000
13119   NFLX 2016-12-07   8204687  125.39000  125.37000  125.3900
13120   NFLX 2016-12-08   8987712  123.24000  123.23000  123.2400
13121   NFLX 2016-12-09   4700783  122.88000  122.86000  122.8800
13122   NFLX 2016-12-12   3917605  122.83000  122.80000  122.8300
13123   NFLX 2016-12-13   5564909  123.78000  123.78000  123.7900
13124   NFLX 2016-12-14   6110273  123.44000  123.41000  123.4400
13125   NFLX 2016-12-15   7376184  125.00000  125.00000  125.0200
13126   NFLX 2016-12-16   8767571  124.22000  124.22000  124.2300
13127   NFLX 2016-12-19   4866394  125.45000  125.45000  125.4600
13128   NFLX 2016-12-20   3937390  125.12000  125.09000  125.1300
13129   NFLX 2016-12-21   6513813  126.50000  126.50000  126.5200
13130   NFLX 2016-12-22   4160969  125.58000  125.55000  125.5800
13131   NFLX 2016-12-23   2010120  125.59000  125.57000  125.5900
13132   NFLX 2016-12-27   5287520  128.35001  128.35001  128.3600
13133   NFLX 2016-12-28   4388956  125.89000  125.88000  125.8900
13134   NFLX 2016-12-29   3444729  125.33000  125.31000  125.3300
13135   NFLX 2016-12-30   4455012  123.80000  123.80000  123.8300

[13136 rows x 6 columns]

The default delimiter for function **loadText** is comma ",". Other delimiters can also be specified. For example, to import a tabular text file:

In [ ]:
t1=s.loadText(WORK_DIR+"/t1.tsv", '\t')

#### 2.2 Import data into a partitioned database

To load data files that are larger than available memory into DolphinDB, we can load data into a partitioned database.

#### 2.2.1 Create a partitioned database

After we create a partitioned database, we cannot modify its partitioning scheme. To make sure the examples below do not use a pre-defined database "valuedb", check if it exists. If it exists, drop it.

In [4]:
if s.existsDatabase(WORK_DIR+"/valuedb"):
    s.dropDatabase(WORK_DIR+"/valuedb")

Now create a value-based partitioned database "valuedb" with a session method **database**. As "example.csv" only has data for 3 stocks, we use a VALUE partition with stock ticker as the partitioning column. The parameter **partitions** indicates the partition scheme.

In [5]:
# 'db' indicates the database handle name on the DolphinDB server.
s.database('db', partitionType=ddb.VALUE, partitions=["AMZN","NFLX","NVDA"], dbPath=WORK_DIR+"/valuedb")
# this is equivalent to executing 'db=database(=WORK_DIR+"/valuedb", VALUE, ["AMZN","NFLX", "NVDA"])' on DolphinDB server.

To create a partitioned database in DFS, just make the database path start with "dfs://". To run the following example, we need to configure a DFS cluster. Please refer to the tutorial [multi_machine_cluster_deploy.md](https://github.com/dolphindb/Tutorials_EN/blob/master/multi_machine_cluster_deploy.md).

In [6]:
s.database('db', partitionType=ddb.VALUE, partitions=["AMZN","NFLX", "NVDA"], dbPath="dfs://valuedb")

In addition to VALUE partition, DolphinDB also supports SEQ, RANGE, LIST, COMBO, and HASH partitions.

#### 2.2.2 Create a partitioned table and append data to the table

After a partitioned database is created successfully, we can import text files to a partitioned table in the partitioned database with function **loadTextEx**. If the partitioned table does not exist, **loadTextEx** creates it and appends the imported data to it. Otherwise, the function appends the imported data to the partitioned table.

In function **loadTextEx**, parameter **dbPath** is the database path; **tableName** is the partitioned table name; **partitionColumns** is the partitioning columns; **filePath** is the absolute path of the text file; **delimiter** is the delimiter of the text file (comma by default).

In the following example, function **loadTextEx** creates a partitioned table **trade** on the DolphinDB server and then appends the data from "example.csv" to the table.

In [7]:
if s.existsDatabase(WORK_DIR+"/valuedb"):
    s.dropDatabase(WORK_DIR+"/valuedb")
s.database('db', partitionType=ddb.VALUE, partitions=["AMZN","NFLX", "NVDA"], dbPath=WORK_DIR+"/valuedb")
trade = s.loadTextEx("db",  tableName='trade',partitionColumns=["TICKER"], filePath=WORK_DIR + "/example.csv")
print(trade.toDF())

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_45472ef4
      TICKER       date       VOL       PRC       BID       ASK
0       AMZN 1997-05-15   6029815   23.5000   23.5000   23.6250
1       AMZN 1997-05-16   1232226   20.7500   20.5000   21.0000
2       AMZN 1997-05-19    512070   20.5000   20.5000   20.6250
3       AMZN 1997-05-20    456357   19.6250   19.6250   19.7500
4       AMZN 1997-05-21   1577414   17.1250   17.1250   17.2500
5       AMZN 1997-05-22    983855   16.7500   16.6250   16.7500
6       AMZN 1997-05-23   1330026   18.0000   18.0000   18.1250
7       AMZN 1997-05-27    726192   19.0000   19.0000   19.1250
8       AMZN 1997-05-28    382132   18.3750   18.3750   18.6250
9       AMZN 1997-05-29    289970   18.0625   18.0000   18.1250
10      AMZN 1997-05-30    216530   18.0000   18.0000   18.1250
11      AMZN 1997-06-02     49764   18.1250   18.1250   18.3750
12      AMZN 1997-06-03     99107   17.7500   17.7500   17.8750
13      AMZN 1997-06-04    257316   17.0000   17.0000   17.2500
14      AMZN 1997-06-05    473301   18.5000   18.3750   18.5000
15      AMZN 1997-06-06    651741   19.8750   19.8750   20.1250
16      AMZN 1997-06-09    196603   20.2500   20.1875   20.5000
17      AMZN 1997-06-10    455531   19.0000   19.0000   19.1250
18      AMZN 1997-06-11     99481   18.5000   18.3750   18.7500
19      AMZN 1997-06-12    136461   19.2500   19.2500   19.3125
20      AMZN 1997-06-13     58058   19.0000   19.0000   19.1875
21      AMZN 1997-06-16     76922   18.8750   18.7500   19.1250
22      AMZN 1997-06-17    393436   18.0625   18.0625   18.2500
23      AMZN 1997-06-18    206108   18.1250   18.0000   18.1250
24      AMZN 1997-06-19     84121   18.1250   18.1250   18.3750
25      AMZN 1997-06-20    282926   18.3125   18.2500   18.5000
26      AMZN 1997-06-23     88120   18.0000   17.7500   18.0000
27      AMZN 1997-06-24     62771   18.1250   18.1250   18.3125
28      AMZN 1997-06-25    176059   18.1250   18.1250   18.2500
29      AMZN 1997-06-26    266122   18.1250   18.1250   18.1875
...      ...        ...       ...       ...       ...       ...
13106   NVDA 2016-11-17  20836021   92.3900   92.3900   92.4100
13107   NVDA 2016-11-18  14401499   93.3600   93.3500   93.3600
13108   NVDA 2016-11-21  10910958   92.9800   92.9800   93.0100
13109   NVDA 2016-11-22   8259232   93.6500   93.6400   93.6500
13110   NVDA 2016-11-23  11081057   93.9700   93.9500   93.9700
13111   NVDA 2016-11-25   4889078   94.1600   94.1100   94.1600
13112   NVDA 2016-11-28   6968380   94.1100   94.1000   94.1100
13113   NVDA 2016-11-29  11114187   93.2500   93.2500   93.2700
13114   NVDA 2016-11-30  11012570   92.2000   92.2000   92.2200
13115   NVDA 2016-12-01  25893353   87.6400   87.6400   87.6500
13116   NVDA 2016-12-02  11957468   88.4500   88.4500   88.4700
13117   NVDA 2016-12-05  15067125   91.8800   91.8700   91.8800
13118   NVDA 2016-12-06  12469875   93.3900   93.3900   93.4000
13119   NVDA 2016-12-07  12020593   95.0700   95.0400   95.0700
13120   NVDA 2016-12-08   9538602   93.4800   93.4700   93.4900
13121   NVDA 2016-12-09   9557799   91.8200   91.8000   91.8200
13122   NVDA 2016-12-12  15033365   89.5900   89.5700   89.5900
13123   NVDA 2016-12-13   9694874   91.1700   91.1700   91.1900
13124   NVDA 2016-12-14  24599538   96.4500   96.4400   96.4600
13125   NVDA 2016-12-15  18663653   98.7100   98.7000   98.7200
13126   NVDA 2016-12-16  27238183  100.4100  100.3900  100.4000
13127   NVDA 2016-12-19  18616956  101.6300  101.6500  101.6600
13128   NVDA 2016-12-20  21201433  105.1700  105.1700  105.1800
13129   NVDA 2016-12-21  14403361  105.8300  105.8200  105.8400
13130   NVDA 2016-12-22  17965259  107.1100  107.0900  107.1100
13131   NVDA 2016-12-23  16193331  109.7800  109.7700  109.7900
13132   NVDA 2016-12-27  29857132  117.3200  117.3100  117.3200
13133   NVDA 2016-12-28  57384116  109.2500  109.2500  109.2900
13134   NVDA 2016-12-29  54384676  111.4300  111.2600  111.4200
13135   NVDA 2016-12-30  30323259  106.7400  106.7300  106.7500

[13136 rows x 6 columns]

To show the number of rows in the table:

In [8]:
print(trade.rows)

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_45472ef4
13136

To show the number of columns in the table:

In [9]:
print(trade.cols)

6

To show the schema of the table:

In [10]:
print(trade.schema)

     name typeString  typeInt
0  TICKER     SYMBOL       17
1    date       DATE        6
2     VOL        INT        4
3     PRC     DOUBLE       16
4     BID     DOUBLE       16
5     ASK     DOUBLE       16

To refer to the table later:

In [11]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb")

#### 2.3 Import data as an in-memory partitioned table

#### 2.3.1 **loadTextEx**

We can import data as an in-memory partitioned table. Operations on an in-memory partitioned table are faster than those on a nonpartitioned in-memory table as the former utilizes parallel computing.

We can use function **loadTextEx** to create an in-memory partitioned database with an empty string for the parameter **dbPath**.

In [12]:
s.database('db', partitionType=ddb.VALUE, partitions=["AMZN","NFLX","NVDA"], dbPath="")

# "dbPath='db'" means that the system uses database handle 'db' to import data into in-memory partitioned table trade
trade=s.loadTextEx(dbPath="db", partitionColumns=["TICKER"], tableName='trade', filePath=WORK_DIR + "/example.csv")

#### 2.3.2 **ploadText**

Function **ploadText** loads a text file in parallel to generate an in-memory partitioned table. It runs much faster than **loadText**.

In [13]:
trade=s.ploadText(WORK_DIR+"/example.csv")
print(trade.rows)

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_a1f23718
13136

#### 2.4 Upload data from Python to DolphinDB server

#### 2.4.1 With function **upload**

We can upload a Python object to the DolphinDB server with function **upload**. The input of function **upload** is a Python dictionary object. For this dictionary object, the key is the variable name on DolphinDB server and the value is the Python object.

In [14]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'id': np.int32([1, 2, 3, 4, 3]), 'value':  np.double([7.8, 4.6, 5.1, 9.6, 0.1]), 'x': np.int32([5, 4, 3, 2, 1])})
s.upload({'t1': df})
print(s.run("t1.value.avg()"))

5.44

#### 2.4.2 With function **table**

A DolphinDB table object can be created on the DolphinDB server with the **table** method of a session. The input of the **table** method can be a dictionary, a DataFrame, or a table name on the DolphinDB server.

In [15]:
# save the table to DolphinDB server as table "test"
dt = s.table(data={'id': [1, 2, 2, 3],
                   'ticker': ['AAPL', 'AMZN', 'AMZN', 'A'],
                   'price': [22, 3.5, 21, 26]}).executeAs("test")

# load table "test" on DolphinDB server 
print(s.loadTable("test").toDF())

select id,ticker,price from TMP_TBL_4d6e3f45
test=(select id,ticker,price from TMP_TBL_4d6e3f45)
select id,ticker,price from test
   id ticker  price
0   1   AAPL   22.0
1   2   AMZN    3.5
2   2   AMZN   21.0
3   3      A   26.0

#### 3 Load DolphinDB database tables

#### 3.1 **loadTable**

To load a table from a database, use function **loadTable**. Parameter **tableName** indicates the partitioned table name; **dbPath** is the database location. If **dbPath** is not specified, **loadTable** will load a DolphinDB table in memory whose name is specified in argument **tableName**.

For a partitioned table: if parameter **memoryMode**=True, load all the data (or selected partitions if parameter **partitions** is specified) of the table into DolphinDB server memory as a partitioned table; if **memoryMode**=false, only load its metadata into DolphinDB server memory. 

#### 3.1.1 Load an entire table

In [16]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb")
trade.toDF()

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_0ab8694b

      TICKER       date       VOL       PRC       BID       ASK
0       AMZN 1997-05-15   6029815   23.5000   23.5000   23.6250
1       AMZN 1997-05-16   1232226   20.7500   20.5000   21.0000
2       AMZN 1997-05-19    512070   20.5000   20.5000   20.6250
3       AMZN 1997-05-20    456357   19.6250   19.6250   19.7500
4       AMZN 1997-05-21   1577414   17.1250   17.1250   17.2500
5       AMZN 1997-05-22    983855   16.7500   16.6250   16.7500
6       AMZN 1997-05-23   1330026   18.0000   18.0000   18.1250
7       AMZN 1997-05-27    726192   19.0000   19.0000   19.1250
8       AMZN 1997-05-28    382132   18.3750   18.3750   18.6250
9       AMZN 1997-05-29    289970   18.0625   18.0000   18.1250
10      AMZN 1997-05-30    216530   18.0000   18.0000   18.1250
11      AMZN 1997-06-02     49764   18.1250   18.1250   18.3750
12      AMZN 1997-06-03     99107   17.7500   17.7500   17.8750
13      AMZN 1997-06-04    257316   17.0000   17.0000   17.2500
14      AMZN 1997-06-05    473301   18.5000   18.3750   18.5000
15      AMZN 1997-06-06    651741   19.8750   19.8750   20.1250
16      AMZN 1997-06-09    196603   20.2500   20.1875   20.5000
17      AMZN 1997-06-10    455531   19.0000   19.0000   19.1250
18      AMZN 1997-06-11     99481   18.5000   18.3750   18.7500
19      AMZN 1997-06-12    136461   19.2500   19.2500   19.3125
20      AMZN 1997-06-13     58058   19.0000   19.0000   19.1875
21      AMZN 1997-06-16     76922   18.8750   18.7500   19.1250
22      AMZN 1997-06-17    393436   18.0625   18.0625   18.2500
23      AMZN 1997-06-18    206108   18.1250   18.0000   18.1250
24      AMZN 1997-06-19     84121   18.1250   18.1250   18.3750
25      AMZN 1997-06-20    282926   18.3125   18.2500   18.5000
26      AMZN 1997-06-23     88120   18.0000   17.7500   18.0000
27      AMZN 1997-06-24     62771   18.1250   18.1250   18.3125
28      AMZN 1997-06-25    176059   18.1250   18.1250   18.2500
29      AMZN 1997-06-26    266122   18.1250   18.1250   18.1875
...      ...        ...       ...       ...       ...       ...
13106   NVDA 2016-11-17  20836021   92.3900   92.3900   92.4100
13107   NVDA 2016-11-18  14401499   93.3600   93.3500   93.3600
13108   NVDA 2016-11-21  10910958   92.9800   92.9800   93.0100
13109   NVDA 2016-11-22   8259232   93.6500   93.6400   93.6500
13110   NVDA 2016-11-23  11081057   93.9700   93.9500   93.9700
13111   NVDA 2016-11-25   4889078   94.1600   94.1100   94.1600
13112   NVDA 2016-11-28   6968380   94.1100   94.1000   94.1100
13113   NVDA 2016-11-29  11114187   93.2500   93.2500   93.2700
13114   NVDA 2016-11-30  11012570   92.2000   92.2000   92.2200
13115   NVDA 2016-12-01  25893353   87.6400   87.6400   87.6500
13116   NVDA 2016-12-02  11957468   88.4500   88.4500   88.4700
13117   NVDA 2016-12-05  15067125   91.8800   91.8700   91.8800
13118   NVDA 2016-12-06  12469875   93.3900   93.3900   93.4000
13119   NVDA 2016-12-07  12020593   95.0700   95.0400   95.0700
13120   NVDA 2016-12-08   9538602   93.4800   93.4700   93.4900
13121   NVDA 2016-12-09   9557799   91.8200   91.8000   91.8200
13122   NVDA 2016-12-12  15033365   89.5900   89.5700   89.5900
13123   NVDA 2016-12-13   9694874   91.1700   91.1700   91.1900
13124   NVDA 2016-12-14  24599538   96.4500   96.4400   96.4600
13125   NVDA 2016-12-15  18663653   98.7100   98.7000   98.7200
13126   NVDA 2016-12-16  27238183  100.4100  100.3900  100.4000
13127   NVDA 2016-12-19  18616956  101.6300  101.6500  101.6600
13128   NVDA 2016-12-20  21201433  105.1700  105.1700  105.1800
13129   NVDA 2016-12-21  14403361  105.8300  105.8200  105.8400
13130   NVDA 2016-12-22  17965259  107.1100  107.0900  107.1100
13131   NVDA 2016-12-23  16193331  109.7800  109.7700  109.7900
13132   NVDA 2016-12-27  29857132  117.3200  117.3100  117.3200
13133   NVDA 2016-12-28  57384116  109.2500  109.2500  109.2900
13134   NVDA 2016-12-29  54384676  111.4300  111.2600  111.4200
13135   NVDA 2016-12-30  30323259  106.7400  106.7300  106.7500

[13136 rows x 6 columns]

#### 3.1.2 Load selected partitions

To load only the "AMZN" partition:

In [17]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb", partitions="AMZN")
print(trade.rows)

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_9399d101
4941

#### 3.1.3 Load a partitioned table as in-memory table

In [18]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb", partitions=["NFLX","NVDA"], memoryMode=True)
print(trade.rows)

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_f72ea496
8195

#### 3.2. **loadTableBySQL**

Method **loadTableBySQL** imports data from an on-disk partitioned table into a in-memory partitioned table through a SQL query.

In [19]:
import os
if s.existsDatabase(WORK_DIR+"/valuedb"  or os.path.exists(WORK_DIR+"/valuedb")):
    s.dropDatabase(WORK_DIR+"/valuedb")
s.database(dbName='db', partitionType=ddb.VALUE, partitions=["AMZN","NFLX", "NVDA"], dbPath=WORK_DIR+"/valuedb")
t = s.loadTextEx("db",  tableName='trade',partitionColumns=["TICKER"], filePath=WORK_DIR + "/example.csv")

trade = s.loadTableBySQL(tableName="trade", dbPath=WORK_DIR+"/valuedb", sql="select * from trade where date>2010.01.01")
print(trade.rows)

select TICKER,date,VOL,PRC,BID,ASK from trade
5286

#### 4 Databases and Tables

#### 4.1 Database operations

#### 4.1.1 Create a database

To create a partitioned database, use session method **database**.

In [20]:
s.database('db', partitionType=ddb.VALUE, partitions=["AMZN","NFLX", "NVDA"], dbPath=WORK_DIR+"/valuedb")

#### 4.1.2 Delete a database

To delete a database, use session method **dropDatabase**. The following statement will drop a database if it exists.

In [21]:
if s.existsDatabase(WORK_DIR+"/valuedb"):
    s.dropDatabase(WORK_DIR+"/valuedb")

#### 4.1.3 Drop a DFS database partition

To drop a DFS database partition, use session method **dropPartition**.

In [22]:
if s.existsDatabase("dfs://valuedb"):
    s.dropDatabase("dfs://valuedb")
s.database('db', partitionType=ddb.VALUE, partitions=["AMZN","NFLX", "NVDA"], dbPath="dfs://valuedb")
trade=s.loadTextEx(dbPath="dfs://valuedb", partitionColumns=["TICKER"], tableName='trade', filePath=WORK_DIR + "/example.csv")
print(trade.rows)

select TICKER,date,VOL,PRC,BID,ASK from trade
13136

In [23]:
s.dropPartition("dfs://valuedb", partitionPaths=["/AMZN", "/NFLX"])
trade = s.loadTable(tableName="trade", dbPath="dfs://valuedb")
print(trade.rows)

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_d60f1baf
4516

In [24]:
print(trade.select("distinct TICKER").toDF())

select distinct TICKER from TMP_TBL_d60f1baf
  distinct_TICKER
0            NVDA

#### 4.2 Table operations

#### 4.2.1 Load a database table

Please see section 3.1. 

#### 4.2.2 Append to a table

The following example appends to a partitioned table on disk. The appending changes the table on disk. To use the appended table, we need to load the table after appending.

In [27]:
if s.existsDatabase(WORK_DIR+"/valuedb"):
    s.dropDatabase(WORK_DIR+"/valuedb")
s.database('db', partitionType=ddb.VALUE, partitions=["AMZN","NFLX", "NVDA"], dbPath=WORK_DIR+"/valuedb")
trade = s.loadTextEx("db",  tableName='trade',partitionColumns=["TICKER"], filePath=WORK_DIR + "/example.csv")
print(trade.rows)

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_5ab66fb6
13136

In [28]:
# take the top 10 rows of table "trade" on the DolphinDB server
t = trade.top(10).executeAs("top10")

trade.append(t)

# table "trade" needs to be reloaded in order to see the appended records
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb")
print (trade.rows)

select top 10 TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_5ab66fb6
top10=(select top 10 TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_5ab66fb6)
select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_c0a4567f
13146

The following example appends to an in-memory table.

In [29]:
trade=s.loadText(WORK_DIR+"/example.csv")
t = trade.top(10).executeAs("top10")
t1=trade.append(t)

print(t1.rows)

select top 10 TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_cbb4ab28
top10=(select top 10 TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_cbb4ab28)
select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_cbb4ab28
13146

#### 4.3 Update a table

Function **update** can only be used on in-memory tables and must be followed by function **execute**.

In [30]:
trade = s.loadTable(tableName="trade", dbPath=WORK_DIR+"/valuedb", memoryMode=True)
trade = trade.update(["VOL"],["999999"]).where("TICKER=`AMZN").where(["date=2015.12.16"]).execute()
t1=trade.where("ticker=`AMZN").where("VOL=999999")
print(t1.toDF())

update TMP_TBL_1f59fd5b set VOL=999999
select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_1f59fd5b where ticker=`AMZN and VOL=999999
     TICKER       date     VOL        PRC        BID        ASK
0      AMZN 1997-05-15  999999   23.50000   23.50000   23.62500
1      AMZN 1997-05-16  999999   20.75000   20.50000   21.00000
2      AMZN 1997-05-19  999999   20.50000   20.50000   20.62500
3      AMZN 1997-05-20  999999   19.62500   19.62500   19.75000
4      AMZN 1997-05-21  999999   17.12500   17.12500   17.25000
5      AMZN 1997-05-22  999999   16.75000   16.62500   16.75000
6      AMZN 1997-05-23  999999   18.00000   18.00000   18.12500
7      AMZN 1997-05-27  999999   19.00000   19.00000   19.12500
8      AMZN 1997-05-28  999999   18.37500   18.37500   18.62500
9      AMZN 1997-05-29  999999   18.06250   18.00000   18.12500
10     AMZN 1997-05-30  999999   18.00000   18.00000   18.12500
11     AMZN 1997-06-02  999999   18.12500   18.12500   18.37500
12     AMZN 1997-06-03  999999   17.75000   17.75000   17.87500
13     AMZN 1997-06-04  999999   17.00000   17.00000   17.25000
14     AMZN 1997-06-05  999999   18.50000   18.37500   18.50000
15     AMZN 1997-06-06  999999   19.87500   19.87500   20.12500
16     AMZN 1997-06-09  999999   20.25000   20.18750   20.50000
17     AMZN 1997-06-10  999999   19.00000   19.00000   19.12500
18     AMZN 1997-06-11  999999   18.50000   18.37500   18.75000
19     AMZN 1997-06-12  999999   19.25000   19.25000   19.31250
20     AMZN 1997-06-13  999999   19.00000   19.00000   19.18750
21     AMZN 1997-06-16  999999   18.87500   18.75000   19.12500
22     AMZN 1997-06-17  999999   18.06250   18.06250   18.25000
23     AMZN 1997-06-18  999999   18.12500   18.00000   18.12500
24     AMZN 1997-06-19  999999   18.12500   18.12500   18.37500
25     AMZN 1997-06-20  999999   18.31250   18.25000   18.50000
26     AMZN 1997-06-23  999999   18.00000   17.75000   18.00000
27     AMZN 1997-06-24  999999   18.12500   18.12500   18.31250
28     AMZN 1997-06-25  999999   18.12500   18.12500   18.25000
29     AMZN 1997-06-26  999999   18.12500   18.12500   18.18750
...     ...        ...     ...        ...        ...        ...
4921   AMZN 2016-12-02  999999  740.34003  740.29999  740.34003
4922   AMZN 2016-12-05  999999  759.35999  759.35999  759.78003
4923   AMZN 2016-12-06  999999  764.71997  764.56000  764.78998
4924   AMZN 2016-12-07  999999  770.41998  770.21997  770.41998
4925   AMZN 2016-12-08  999999  767.33002  767.19000  767.28998
4926   AMZN 2016-12-09  999999  768.65997  768.64001  768.65997
4927   AMZN 2016-12-12  999999  760.12000  759.88000  759.96002
4928   AMZN 2016-12-13  999999  774.34003  774.33002  774.40002
4929   AMZN 2016-12-14  999999  768.82001  768.81000  769.06000
4930   AMZN 2016-12-15  999999  761.00000  760.65002  760.87000
4931   AMZN 2016-12-16  999999  757.77002  757.65002  757.83002
4932   AMZN 2016-12-19  999999  766.00000  766.00000  766.08002
4933   AMZN 2016-12-20  999999  771.21997  771.21002  771.21997
4934   AMZN 2016-12-21  999999  770.59998  770.47998  770.60999
4935   AMZN 2016-12-22  999999  766.34003  766.07001  766.34998
4936   AMZN 2016-12-23  999999  760.59003  760.33002  760.59003
4937   AMZN 2016-12-27  999999  771.40002  771.40002  771.76001
4938   AMZN 2016-12-28  999999  772.13000  771.92999  772.15997
4939   AMZN 2016-12-29  999999  765.15002  764.66998  765.15997
4940   AMZN 2016-12-30  999999  749.87000  750.02002  750.40002
4941   AMZN 1997-05-15  999999   23.50000   23.50000   23.62500
4942   AMZN 1997-05-16  999999   20.75000   20.50000   21.00000
4943   AMZN 1997-05-19  999999   20.50000   20.50000   20.62500
4944   AMZN 1997-05-20  999999   19.62500   19.62500   19.75000
4945   AMZN 1997-05-21  999999   17.12500   17.12500   17.25000
4946   AMZN 1997-05-22  999999   16.75000   16.62500   16.75000
4947   AMZN 1997-05-23  999999   18.00000   18.00000   18.12500
4948   AMZN 1997-05-27  999999   19.00000   19.00000   19.12500
4949   AMZN 1997-05-28  999999   18.37500   18.37500   18.62500
4950   AMZN 1997-05-29  999999   18.06250   18.00000   18.12500

[4951 rows x 6 columns]

#### 4.4 Delete records from a table

Function **delete** must be followed by function **execute** to delete records from a table.

In [31]:
trade = s.loadTable(tableName="trade", dbPath=WORK_DIR+"/valuedb", memoryMode=True)
trade.delete().where('date<2013.01.01').execute()
print(trade.rows)

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_6384cd5c
3024

#### 4.5 Delete table columns

In [32]:
trade = s.loadTable(tableName="trade", dbPath=WORK_DIR + "/valuedb", memoryMode=True)
t1=trade.drop(['ask', 'bid'])
print(t1.top(5).toDF())

select top 5 TICKER,date,VOL,PRC from TMP_TBL_3a01e960
  TICKER       date      VOL     PRC
0   AMZN 1997-05-15  6029815  23.500
1   AMZN 1997-05-16  1232226  20.750
2   AMZN 1997-05-19   512070  20.500
3   AMZN 1997-05-20   456357  19.625
4   AMZN 1997-05-21  1577414  17.125

#### 4.6 Drop a table

In [ ]:
s.dropTable(WORK_DIR + "/valuedb", "trade")

#### 5 SQL query

DolphinDB's table class supports method chaining to generate SQL statements.

#### 5.1 **select**

#### 5.1.1 A list of column names as input

In [33]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb", memoryMode=True)
print(trade.select(['ticker','date','bid','ask','prc','vol']).toDF())

select ticker,date,bid,ask,prc,vol from TMP_TBL_2503c622
      ticker       date       bid       ask       prc       vol
0       AMZN 1997-05-15   23.5000   23.6250   23.5000   6029815
1       AMZN 1997-05-16   20.5000   21.0000   20.7500   1232226
2       AMZN 1997-05-19   20.5000   20.6250   20.5000    512070
3       AMZN 1997-05-20   19.6250   19.7500   19.6250    456357
4       AMZN 1997-05-21   17.1250   17.2500   17.1250   1577414
5       AMZN 1997-05-22   16.6250   16.7500   16.7500    983855
6       AMZN 1997-05-23   18.0000   18.1250   18.0000   1330026
7       AMZN 1997-05-27   19.0000   19.1250   19.0000    726192
8       AMZN 1997-05-28   18.3750   18.6250   18.3750    382132
9       AMZN 1997-05-29   18.0000   18.1250   18.0625    289970
10      AMZN 1997-05-30   18.0000   18.1250   18.0000    216530
11      AMZN 1997-06-02   18.1250   18.3750   18.1250     49764
12      AMZN 1997-06-03   17.7500   17.8750   17.7500     99107
13      AMZN 1997-06-04   17.0000   17.2500   17.0000    257316
14      AMZN 1997-06-05   18.3750   18.5000   18.5000    473301
15      AMZN 1997-06-06   19.8750   20.1250   19.8750    651741
16      AMZN 1997-06-09   20.1875   20.5000   20.2500    196603
17      AMZN 1997-06-10   19.0000   19.1250   19.0000    455531
18      AMZN 1997-06-11   18.3750   18.7500   18.5000     99481
19      AMZN 1997-06-12   19.2500   19.3125   19.2500    136461
20      AMZN 1997-06-13   19.0000   19.1875   19.0000     58058
21      AMZN 1997-06-16   18.7500   19.1250   18.8750     76922
22      AMZN 1997-06-17   18.0625   18.2500   18.0625    393436
23      AMZN 1997-06-18   18.0000   18.1250   18.1250    206108
24      AMZN 1997-06-19   18.1250   18.3750   18.1250     84121
25      AMZN 1997-06-20   18.2500   18.5000   18.3125    282926
26      AMZN 1997-06-23   17.7500   18.0000   18.0000     88120
27      AMZN 1997-06-24   18.1250   18.3125   18.1250     62771
28      AMZN 1997-06-25   18.1250   18.2500   18.1250    176059
29      AMZN 1997-06-26   18.1250   18.1875   18.1250    266122
...      ...        ...       ...       ...       ...       ...
13116   NVDA 2016-11-17   92.3900   92.4100   92.3900  20836021
13117   NVDA 2016-11-18   93.3500   93.3600   93.3600  14401499
13118   NVDA 2016-11-21   92.9800   93.0100   92.9800  10910958
13119   NVDA 2016-11-22   93.6400   93.6500   93.6500   8259232
13120   NVDA 2016-11-23   93.9500   93.9700   93.9700  11081057
13121   NVDA 2016-11-25   94.1100   94.1600   94.1600   4889078
13122   NVDA 2016-11-28   94.1000   94.1100   94.1100   6968380
13123   NVDA 2016-11-29   93.2500   93.2700   93.2500  11114187
13124   NVDA 2016-11-30   92.2000   92.2200   92.2000  11012570
13125   NVDA 2016-12-01   87.6400   87.6500   87.6400  25893353
13126   NVDA 2016-12-02   88.4500   88.4700   88.4500  11957468
13127   NVDA 2016-12-05   91.8700   91.8800   91.8800  15067125
13128   NVDA 2016-12-06   93.3900   93.4000   93.3900  12469875
13129   NVDA 2016-12-07   95.0400   95.0700   95.0700  12020593
13130   NVDA 2016-12-08   93.4700   93.4900   93.4800   9538602
13131   NVDA 2016-12-09   91.8000   91.8200   91.8200   9557799
13132   NVDA 2016-12-12   89.5700   89.5900   89.5900  15033365
13133   NVDA 2016-12-13   91.1700   91.1900   91.1700   9694874
13134   NVDA 2016-12-14   96.4400   96.4600   96.4500  24599538
13135   NVDA 2016-12-15   98.7000   98.7200   98.7100  18663653
13136   NVDA 2016-12-16  100.3900  100.4000  100.4100  27238183
13137   NVDA 2016-12-19  101.6500  101.6600  101.6300  18616956
13138   NVDA 2016-12-20  105.1700  105.1800  105.1700  21201433
13139   NVDA 2016-12-21  105.8200  105.8400  105.8300  14403361
13140   NVDA 2016-12-22  107.0900  107.1100  107.1100  17965259
13141   NVDA 2016-12-23  109.7700  109.7900  109.7800  16193331
13142   NVDA 2016-12-27  117.3100  117.3200  117.3200  29857132
13143   NVDA 2016-12-28  109.2500  109.2900  109.2500  57384116
13144   NVDA 2016-12-29  111.2600  111.4200  111.4300  54384676
13145   NVDA 2016-12-30  106.7300  106.7500  106.7400  30323259

[13146 rows x 6 columns]

We can use the **showSQL** method to display the SQL statement.

In [34]:
print(trade.select(['ticker','date','bid','ask','prc','vol']).where("date=2012.09.06").where("vol<10000000").showSQL())

select ticker,date,bid,ask,prc,vol from TMP_TBL_2503c622 where date=2012.09.06 and vol<10000000
select ticker,date,bid,ask,prc,vol from TMP_TBL_2503c622 where date=2012.09.06 and vol<10000000

#### 5.1.2 String as input

In [35]:
print(trade.select("ticker,date,bid,ask,prc,vol").where("date=2012.09.06").where("vol<10000000").toDF())

select ticker,date,bid,ask,prc,vol from TMP_TBL_2503c622 where date=2012.09.06 and vol<10000000
  ticker       date        bid     ask     prc      vol
0   AMZN 2012-09-06  251.42999  251.56  251.38  5657816
1   NFLX 2012-09-06   56.65000   56.66   56.65  5368963

#### 5.2 **top**

Get the top records in a table.

In [36]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb")
trade.top(5).toDF()

select top 5 TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_96f449fc

  TICKER       date      VOL     PRC     BID     ASK
0   AMZN 1997-05-15  6029815  23.500  23.500  23.625
1   AMZN 1997-05-16  1232226  20.750  20.500  21.000
2   AMZN 1997-05-19   512070  20.500  20.500  20.625
3   AMZN 1997-05-20   456357  19.625  19.625  19.750
4   AMZN 1997-05-21  1577414  17.125  17.125  17.250

#### 5.3 **where**

We can use **where** method to filter the selection.

#### 5.3.1 method chaining

We can use method chaining to apply multiple conditions.

In [37]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb", memoryMode=True)

# use chaining WHERE conditions and save result to DolphinDB server variable "t1" through function "executeAs"
t1=trade.select(['date','bid','ask','prc','vol']).where('TICKER=`AMZN').where('bid!=NULL').where('ask!=NULL').where('vol>10000000').sort('vol desc').executeAs("t1")
print(t1.toDF())

select date,bid,ask,prc,vol from TMP_TBL_d9a85fe4 where TICKER=`AMZN and bid!=NULL and ask!=NULL and vol>10000000 order by vol desc
t1=(select date,bid,ask,prc,vol from TMP_TBL_d9a85fe4 where TICKER=`AMZN and bid!=NULL and ask!=NULL and vol>10000000 order by vol desc)
select date,bid,ask,prc,vol from t1
          date        bid        ask        prc        vol
0   2007-04-25   56.80000   56.81000   56.81000  104463043
1   1999-09-29   80.75000   80.81250   80.75000   80380734
2   2006-07-26   26.17000   26.18000   26.26000   76996899
3   2007-04-26   62.77000   62.83000   62.78100   62451660
4   2005-02-03   35.74000   35.73000   35.75000   60580703
5   2007-07-25   86.15000   86.18000   86.17990   60565477
6   2009-10-23  118.51000  118.52000  118.49000   59460785
7   2005-11-18   47.95000   47.90000   47.98000   59374260
8   2002-01-22   12.60000   12.61000   12.60000   57235489
9   2000-06-23   33.87500   33.93750   33.87500   52221978
10  2001-11-26   12.16000   12.20000   12.21000   51543686
11  2007-04-27   62.58000   62.60000   62.60100   50795877
12  2001-11-28   11.57000   11.58000   11.59000   48788289
13  2006-10-25   37.67000   37.70000   37.68000   46730051
14  2005-07-27   43.63000   43.59000   43.65000   46113677
15  2000-02-03   84.12500   84.18750   84.18750   44259436
16  2010-07-23  118.87000  118.88000  118.87000   43202622
17  2008-01-31   77.58000   77.63000   77.70000   43053220
18  2007-05-23   69.00000   69.04000   69.00000   42671042
19  1999-12-09  103.50000  103.62500  103.62500   42027565
20  2007-10-23  100.90000  100.96000  100.82000   41763586
21  2007-10-24   88.60000   88.70000   88.73000   41621772
22  2009-01-30   58.82000   58.83000   58.82000   40672905
23  2003-04-25   28.97000   28.96000   28.97000   40213457
24  2010-02-01  118.68000  118.83000  118.87000   38873069
25  2000-01-05   69.75000   69.81250   69.75000   38832833
26  2007-05-21   68.31000   68.31000   68.30000   36554345
27  1999-10-28   71.00000   71.00000   71.00000   36069850
28  2004-07-23   40.00000   39.99000   39.98000   35945423
29  2001-11-27   11.48000   11.49000   11.48000   34712960
..         ...        ...        ...        ...        ...
735 2010-01-08  133.53999  133.60001  133.52000   10135387
736 2001-10-30    6.42000    6.43000    6.42000   10135220
737 2010-11-29  179.49001  179.50999  179.49001   10127002
738 1999-04-20  171.75000  172.00000  172.00000   10125345
739 2000-12-05   25.31250   25.37500   25.37500   10124085
740 2001-11-19    9.20000    9.20000    9.19000   10113553
741 2010-06-30  109.26000  109.34000  109.26000   10112766
742 2003-10-14   59.87000   59.87000   59.91000   10109432
743 2008-05-27   80.59000   80.61000   80.62000   10104264
744 2015-08-24  463.37000  463.89001  463.37000   10097601
745 2010-02-08  116.75000  116.83000  116.83000   10096402
746 2000-09-27   37.87500   38.00000   37.87500   10091772
747 2007-05-10   60.89000   60.90000   60.92000   10087449
748 2001-12-14   11.00000   11.01000   11.00000   10087333
749 2012-03-27  205.44000  205.45000  205.44000   10085618
750 2008-01-25   77.60000   77.64000   77.60000   10080819
751 2015-01-21  297.26001  297.26999  297.25000   10076876
752 2009-04-29   79.82000   79.88000   79.79000   10068713
753 2009-05-07   79.22000   79.28000   79.28000   10059573
754 2000-02-10   76.12500   76.18750   76.18750   10058378
755 2004-07-08   49.49000   49.50000   49.50000   10054843
756 2010-01-14  127.18000  127.37000  127.35000   10051608
757 2009-12-01  138.50000  138.53000  138.50000   10050377
758 2016-02-03  531.03003  531.07001  531.07001   10048729
759 2009-03-03   61.68000   61.70000   61.70000   10048427
760 2008-02-26   71.69000   71.72000   71.69000   10031203
761 2009-04-27   83.12000   83.17000   83.12000   10030242
762 2008-01-07   88.82000   88.84000   88.82000   10017305
763 2010-02-18  118.08000  118.17000  118.08000   10010024
764 2000-10-31   36.62500   36.68750   36.62500   10001970

[765 rows x 5 columns]

In [38]:
print(t1.rows)

select date,bid,ask,prc,vol from t1
765

We can use the **showSQL** method to display the SQL statement.

In [39]:
print(trade.select(['date','bid','ask','prc','vol']).where('TICKER=`AMZN').where('bid!=NULL').where('ask!=NULL').where('vol>10000000').sort('vol desc').showSQL())

select date,bid,ask,prc,vol from TMP_TBL_d9a85fe4 where TICKER=`AMZN and bid!=NULL and ask!=NULL and vol>10000000 order by vol desc
select date,bid,ask,prc,vol from TMP_TBL_d9a85fe4 where TICKER=`AMZN and bid!=NULL and ask!=NULL and vol>10000000 order by vol desc

#### 5.3.2 Use string as input

We can pass a list of field names as a string to **select** method and conditions as string to **where** method.

In [40]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb")
print(trade.select("ticker, date, vol").where("bid!=NULL, ask!=NULL, vol>50000000").toDF())

select ticker, date, vol from TMP_TBL_5647b914 where bid!=NULL, ask!=NULL, vol>50000000
   ticker       date        vol
0    AMZN 1999-09-29   80380734
1    AMZN 2000-06-23   52221978
2    AMZN 2001-11-26   51543686
3    AMZN 2002-01-22   57235489
4    AMZN 2005-02-03   60580703
5    AMZN 2005-11-18   59374260
6    AMZN 2006-07-26   76996899
7    AMZN 2007-04-25  104463043
8    AMZN 2007-04-26   62451660
9    AMZN 2007-04-27   50795877
10   AMZN 2007-07-25   60565477
11   AMZN 2009-10-23   59460785
12   NFLX 2015-07-16   63461015
13   NFLX 2015-08-24   59952448
14   NFLX 2016-01-20   53009419
15   NFLX 2016-04-19   55728765
16   NFLX 2016-07-19   55685209
17   NVDA 2003-05-09   77604776
18   NVDA 2008-02-14   54612850
19   NVDA 2008-05-09   50758761
20   NVDA 2008-07-03   74521639
21   NVDA 2008-07-07   54965504
22   NVDA 2008-08-13   52383250
23   NVDA 2009-05-08   73520286
24   NVDA 2009-12-07   68570708
25   NVDA 2010-05-14   62518368
26   NVDA 2010-07-29   66732862
27   NVDA 2010-11-12   53795014
28   NVDA 2011-01-06   87693472
29   NVDA 2011-01-07   64810992
30   NVDA 2011-01-11   68122689
31   NVDA 2011-01-12   86197484
32   NVDA 2011-01-13   67887504
33   NVDA 2011-01-24   51793673
34   NVDA 2011-02-17   87117555
35   NVDA 2011-05-13   50859702
36   NVDA 2011-08-12   80488616
37   NVDA 2016-05-13   52651704
38   NVDA 2016-11-11   54384267
39   NVDA 2016-12-28   57384116
40   NVDA 2016-12-29   54384676

#### 5.4 **groupby**

Method **groupby** must be followed by an aggregate function such as **count**, **sum**, **avg**, **std**, etc.

In [42]:
if s.existsDatabase(WORK_DIR+"/valuedb"):
    s.dropDatabase(WORK_DIR+"/valuedb")
s.database('db', partitionType=ddb.VALUE, partitions=["AMZN","NFLX", "NVDA"], dbPath=WORK_DIR+"/valuedb")
trade = s.loadTextEx("db",  tableName='trade',partitionColumns=["TICKER"], filePath=WORK_DIR + "/example.csv")
print(trade.select('count(*)').groupby(['ticker']).sort(bys=['ticker desc']).toDF())

select count(*) from TMP_TBL_53843eb3 group by ticker order by ticker desc
select count(*) from TMP_TBL_53843eb3 group by ticker order by ticker desc
  ticker  count
0   NVDA   4516
1   NFLX   3679
2   AMZN   4941

Calculate the sum of columns "vol" and "prc" in "ticker" groups:

In [43]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb")
print(trade.select(['vol','prc']).groupby(['ticker']).sum().toDF())

select sum(vol),sum(prc) from TMP_TBL_c260d6c5 group by ticker
  ticker      sum_vol       sum_prc
0   AMZN  33706396492  772503.81377
1   NFLX  14928048887  421568.81674
2   NVDA  46879603806  127139.51092

**groupby** can be used with with **having**:

In [44]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb")
print(trade.select('count(ask)').groupby(['vol']).having('count(ask)>1').toDF())

select count(ask) from TMP_TBL_32800c60 group by vol having count(ask)>1
       vol  count_ask
0   579392          2
1  3683504          2
2  5732076          2
3  6299736          2
4  6438038          2
5  6946976          2
6  8160197          2
7  8924303          2

#### 5.5 **contextby**

**contextby** is similar to **groupby** except that for each group, **groupby** returns a scalar but **contextby** returns a vector of the same size as the group.

In [45]:
df= s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb").contextby('ticker').top(3).toDF()
print(df)

select top 3 TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_8d3cb617 context by ticker
  TICKER       date      VOL      PRC      BID      ASK
0   AMZN 1997-05-15  6029815  23.5000  23.5000  23.6250
1   AMZN 1997-05-16  1232226  20.7500  20.5000  21.0000
2   AMZN 1997-05-19   512070  20.5000  20.5000  20.6250
3   NFLX 2002-05-23  7507079  16.7500  16.7500  16.8500
4   NFLX 2002-05-24   797783  16.9400  16.9400  16.9500
5   NFLX 2002-05-28   474866  16.2000  16.2000  16.3700
6   NVDA 1999-01-22  5702636  19.6875  19.6250  19.6875
7   NVDA 1999-01-25  1074571  21.7500  21.7500  21.8750
8   NVDA 1999-01-26   719199  20.0625  20.0625  20.1250

In [47]:
df= s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb").select("TICKER, month(date) as month, cumsum(VOL)").contextby("TICKER,month(date)").toDF()
print(df)

select TICKER, month(date) as month, cumsum(VOL) from TMP_TBL_7c6571df context by TICKER,month(date)
select TICKER, month(date) as month, cumsum(VOL) from TMP_TBL_7c6571df context by TICKER,month(date)
      TICKER      month  cumsum_VOL
0       AMZN 1997-05-01     6029815
1       AMZN 1997-05-01     7262041
2       AMZN 1997-05-01     7774111
3       AMZN 1997-05-01     8230468
4       AMZN 1997-05-01     9807882
5       AMZN 1997-05-01    10791737
6       AMZN 1997-05-01    12121763
7       AMZN 1997-05-01    12847955
8       AMZN 1997-05-01    13230087
9       AMZN 1997-05-01    13520057
10      AMZN 1997-05-01    13736587
11      AMZN 1997-06-01       49764
12      AMZN 1997-06-01      148871
13      AMZN 1997-06-01      406187
14      AMZN 1997-06-01      879488
15      AMZN 1997-06-01     1531229
16      AMZN 1997-06-01     1727832
17      AMZN 1997-06-01     2183363
18      AMZN 1997-06-01     2282844
19      AMZN 1997-06-01     2419305
20      AMZN 1997-06-01     2477363
21      AMZN 1997-06-01     2554285
22      AMZN 1997-06-01     2947721
23      AMZN 1997-06-01     3153829
24      AMZN 1997-06-01     3237950
25      AMZN 1997-06-01     3520876
26      AMZN 1997-06-01     3608996
27      AMZN 1997-06-01     3671767
28      AMZN 1997-06-01     3847826
29      AMZN 1997-06-01     4113948
...      ...        ...         ...
13106   NVDA 2016-11-01   240634473
13107   NVDA 2016-11-01   255035972
13108   NVDA 2016-11-01   265946930
13109   NVDA 2016-11-01   274206162
13110   NVDA 2016-11-01   285287219
13111   NVDA 2016-11-01   290176297
13112   NVDA 2016-11-01   297144677
13113   NVDA 2016-11-01   308258864
13114   NVDA 2016-11-01   319271434
13115   NVDA 2016-12-01    25893353
13116   NVDA 2016-12-01    37850821
13117   NVDA 2016-12-01    52917946
13118   NVDA 2016-12-01    65387821
13119   NVDA 2016-12-01    77408414
13120   NVDA 2016-12-01    86947016
13121   NVDA 2016-12-01    96504815
13122   NVDA 2016-12-01   111538180
13123   NVDA 2016-12-01   121233054
13124   NVDA 2016-12-01   145832592
13125   NVDA 2016-12-01   164496245
13126   NVDA 2016-12-01   191734428
13127   NVDA 2016-12-01   210351384
13128   NVDA 2016-12-01   231552817
13129   NVDA 2016-12-01   245956178
13130   NVDA 2016-12-01   263921437
13131   NVDA 2016-12-01   280114768
13132   NVDA 2016-12-01   309971900
13133   NVDA 2016-12-01   367356016
13134   NVDA 2016-12-01   421740692
13135   NVDA 2016-12-01   452063951

[13136 rows x 3 columns]

In [48]:
df= s.loadTable(tableName="trade",dbPath=WORK_DIR+"/valuedb").select("TICKER, month(date) as month, sum(VOL)").contextby("TICKER,month(date)").toDF()
print(df)

select TICKER, month(date) as month, sum(VOL) from TMP_TBL_5c8d92b1 context by TICKER,month(date)
select TICKER, month(date) as month, sum(VOL) from TMP_TBL_5c8d92b1 context by TICKER,month(date)
      TICKER      month    sum_VOL
0       AMZN 1997-05-01   13736587
1       AMZN 1997-05-01   13736587
2       AMZN 1997-05-01   13736587
3       AMZN 1997-05-01   13736587
4       AMZN 1997-05-01   13736587
5       AMZN 1997-05-01   13736587
6       AMZN 1997-05-01   13736587
7       AMZN 1997-05-01   13736587
8       AMZN 1997-05-01   13736587
9       AMZN 1997-05-01   13736587
10      AMZN 1997-05-01   13736587
11      AMZN 1997-06-01    4445036
12      AMZN 1997-06-01    4445036
13      AMZN 1997-06-01    4445036
14      AMZN 1997-06-01    4445036
15      AMZN 1997-06-01    4445036
16      AMZN 1997-06-01    4445036
17      AMZN 1997-06-01    4445036
18      AMZN 1997-06-01    4445036
19      AMZN 1997-06-01    4445036
20      AMZN 1997-06-01    4445036
21      AMZN 1997-06-01    4445036
22      AMZN 1997-06-01    4445036
23      AMZN 1997-06-01    4445036
24      AMZN 1997-06-01    4445036
25      AMZN 1997-06-01    4445036
26      AMZN 1997-06-01    4445036
27      AMZN 1997-06-01    4445036
28      AMZN 1997-06-01    4445036
29      AMZN 1997-06-01    4445036
...      ...        ...        ...
13106   NVDA 2016-11-01  319271434
13107   NVDA 2016-11-01  319271434
13108   NVDA 2016-11-01  319271434
13109   NVDA 2016-11-01  319271434
13110   NVDA 2016-11-01  319271434
13111   NVDA 2016-11-01  319271434
13112   NVDA 2016-11-01  319271434
13113   NVDA 2016-11-01  319271434
13114   NVDA 2016-11-01  319271434
13115   NVDA 2016-12-01  452063951
13116   NVDA 2016-12-01  452063951
13117   NVDA 2016-12-01  452063951
13118   NVDA 2016-12-01  452063951
13119   NVDA 2016-12-01  452063951
13120   NVDA 2016-12-01  452063951
13121   NVDA 2016-12-01  452063951
13122   NVDA 2016-12-01  452063951
13123   NVDA 2016-12-01  452063951
13124   NVDA 2016-12-01  452063951
13125   NVDA 2016-12-01  452063951
13126   NVDA 2016-12-01  452063951
13127   NVDA 2016-12-01  452063951
13128   NVDA 2016-12-01  452063951
13129   NVDA 2016-12-01  452063951
13130   NVDA 2016-12-01  452063951
13131   NVDA 2016-12-01  452063951
13132   NVDA 2016-12-01  452063951
13133   NVDA 2016-12-01  452063951
13134   NVDA 2016-12-01  452063951
13135   NVDA 2016-12-01  452063951

[13136 rows x 3 columns]

In [49]:
df= s.loadTable(dbPath=WORK_DIR+"/valuedb", tableName="trade").contextby('ticker').having("sum(VOL)>40000000000").toDF()
print(df)

select TICKER,date,VOL,PRC,BID,ASK from TMP_TBL_88c0cd00 context by ticker having sum(VOL)>40000000000
     TICKER       date       VOL       PRC       BID       ASK
0      NVDA 1999-01-22   5702636   19.6875   19.6250   19.6875
1      NVDA 1999-01-25   1074571   21.7500   21.7500   21.8750
2      NVDA 1999-01-26    719199   20.0625   20.0625   20.1250
3      NVDA 1999-01-27    510637   20.0000   19.8750   20.0000
4      NVDA 1999-01-28    476094   19.9375   19.8750   20.0000
5      NVDA 1999-01-29    509718   19.0000   19.0000   19.3125
6      NVDA 1999-02-01    324104   19.3750   19.3750   19.5000
7      NVDA 1999-02-02    552383   17.8750   17.7500   17.8750
8      NVDA 1999-02-03    157385   18.2500   18.2500   18.5000
9      NVDA 1999-02-04    382986   19.2500   19.0000   19.3125
10     NVDA 1999-02-05    286134   19.8125   19.8125   19.8750
11     NVDA 1999-02-08    321818   19.1250   19.1250   19.1875
12     NVDA 1999-02-09    181793   18.3750   18.3750   18.7500
13     NVDA 1999-02-10    309200   18.1875   18.1250   18.5000
14     NVDA 1999-02-11    276332   19.7500   19.6250   20.0000
15     NVDA 1999-02-12    229719   20.8750   20.8750   20.9375
16     NVDA 1999-02-16    442140   21.0000   20.2500   21.0000
17     NVDA 1999-02-17    141592   19.8750   19.8750   20.1250
18     NVDA 1999-02-18    147968   20.1875   20.0000   20.1875
19     NVDA 1999-02-19    157816   20.8750   20.8750   21.0000
20     NVDA 1999-02-22    428715   21.0000   21.0000   21.1250
21     NVDA 1999-02-23    290019   22.0000   22.0000   22.3750
22     NVDA 1999-02-24   1280829   23.7500   23.6250   23.7500
23     NVDA 1999-02-25    313149   23.0000   22.8750   23.0000
24     NVDA 1999-02-26    361012   21.9375   21.9375   22.0000
25     NVDA 1999-03-01    193453   22.0625   21.7500   22.0625
26     NVDA 1999-03-02    138285   21.8750   21.6875   21.8750
27     NVDA 1999-03-03    128773   20.3750   20.3750   20.6250
28     NVDA 1999-03-04    120175   19.9375   19.7500   19.9375
29     NVDA 1999-03-05    165321   21.0625   21.0000   21.0625
...     ...        ...       ...       ...       ...       ...
4486   NVDA 2016-11-17  20836021   92.3900   92.3900   92.4100
4487   NVDA 2016-11-18  14401499   93.3600   93.3500   93.3600
4488   NVDA 2016-11-21  10910958   92.9800   92.9800   93.0100
4489   NVDA 2016-11-22   8259232   93.6500   93.6400   93.6500
4490   NVDA 2016-11-23  11081057   93.9700   93.9500   93.9700
4491   NVDA 2016-11-25   4889078   94.1600   94.1100   94.1600
4492   NVDA 2016-11-28   6968380   94.1100   94.1000   94.1100
4493   NVDA 2016-11-29  11114187   93.2500   93.2500   93.2700
4494   NVDA 2016-11-30  11012570   92.2000   92.2000   92.2200
4495   NVDA 2016-12-01  25893353   87.6400   87.6400   87.6500
4496   NVDA 2016-12-02  11957468   88.4500   88.4500   88.4700
4497   NVDA 2016-12-05  15067125   91.8800   91.8700   91.8800
4498   NVDA 2016-12-06  12469875   93.3900   93.3900   93.4000
4499   NVDA 2016-12-07  12020593   95.0700   95.0400   95.0700
4500   NVDA 2016-12-08   9538602   93.4800   93.4700   93.4900
4501   NVDA 2016-12-09   9557799   91.8200   91.8000   91.8200
4502   NVDA 2016-12-12  15033365   89.5900   89.5700   89.5900
4503   NVDA 2016-12-13   9694874   91.1700   91.1700   91.1900
4504   NVDA 2016-12-14  24599538   96.4500   96.4400   96.4600
4505   NVDA 2016-12-15  18663653   98.7100   98.7000   98.7200
4506   NVDA 2016-12-16  27238183  100.4100  100.3900  100.4000
4507   NVDA 2016-12-19  18616956  101.6300  101.6500  101.6600
4508   NVDA 2016-12-20  21201433  105.1700  105.1700  105.1800
4509   NVDA 2016-12-21  14403361  105.8300  105.8200  105.8400
4510   NVDA 2016-12-22  17965259  107.1100  107.0900  107.1100
4511   NVDA 2016-12-23  16193331  109.7800  109.7700  109.7900
4512   NVDA 2016-12-27  29857132  117.3200  117.3100  117.3200
4513   NVDA 2016-12-28  57384116  109.2500  109.2500  109.2900
4514   NVDA 2016-12-29  54384676  111.4300  111.2600  111.4200
4515   NVDA 2016-12-30  30323259  106.7400  106.7300  106.7500

[4516 rows x 6 columns]

#### 5.6 Table join

DolphinDB table class has method **merge** for inner, left, and outer join; method **merge_asof** for asof join; method **merge_window** for window join.

#### 5.6.1 **merge**

Specify joining columns with parameter **on** if joining column names are identical in both tables; use parameters **left_on** and **right_on** when joining column names are different. The optional parameter **how** indicates table join type. The default table join mode is inner join.

In [50]:
trade = s.loadTable(dbPath=WORK_DIR+"/valuedb", tableName="trade")
t1 = s.table(data={'TICKER': ['AMZN', 'AMZN', 'AMZN'], 'date': ['2015.12.31', '2015.12.30', '2015.12.29'], 'open': [695, 685, 674]})
print(trade.merge(t1,on=["TICKER","date"]).toDF())

select * from ej(TMP_TBL_6461ef1d,TMP_TBL_dd21b9a5,`TICKER`date,`TICKER`date)
  TICKER       date      VOL        PRC        BID        ASK  open
0   AMZN 2015-12-29  5734996  693.96997  693.96997  694.20001   674
1   AMZN 2015-12-30  3519303  689.07001  689.07001  689.09998   685
2   AMZN 2015-12-31  3749860  675.89001  675.85999  675.94000   695

We need to specify arguments **left_on** and **right_on** when joining column names are different.

In [51]:
trade = s.loadTable(dbPath=WORK_DIR+"/valuedb", tableName="trade")
t1 = s.table(data={'TICKER1': ['AMZN', 'AMZN', 'AMZN'], 'date1': ['2015.12.31', '2015.12.30', '2015.12.29'], 'open': [695, 685, 674]})
print(trade.merge(t1,left_on=["TICKER","date"], right_on=["TICKER1","date1"]).toDF())

select * from ej(TMP_TBL_4f5a07cb,TMP_TBL_f61b412c,`TICKER`date,`TICKER1`date1)
  TICKER       date      VOL        PRC        BID        ASK  open
0   AMZN 2015-12-29  5734996  693.96997  693.96997  694.20001   674
1   AMZN 2015-12-30  3519303  689.07001  689.07001  689.09998   685
2   AMZN 2015-12-31  3749860  675.89001  675.85999  675.94000   695

To conduct left join, set parameter **how** to "left".

In [52]:
trade = s.loadTable(dbPath=WORK_DIR+"/valuedb", tableName="trade")
t1 = s.table(data={'TICKER': ['AMZN', 'AMZN', 'AMZN'], 'date': ['2015.12.31', '2015.12.30', '2015.12.29'], 'open': [695, 685, 674]})
print(trade.merge(t1,how="left", on=["TICKER","date"]).where('TICKER=`AMZN').where('2015.12.23<=date<=2015.12.31').toDF())

select * from lj(TMP_TBL_1cea5291,TMP_TBL_8c54f577,`TICKER`date,`TICKER`date) where TICKER=`AMZN and 2015.12.23<=date<=2015.12.31
  TICKER       date      VOL        PRC        BID        ASK   open
0   AMZN 2015-12-23  2722922  663.70001  663.48999  663.71002    NaN
1   AMZN 2015-12-24  1092980  662.78998  662.56000  662.79999    NaN
2   AMZN 2015-12-28  3783555  675.20001  675.00000  675.21002    NaN
3   AMZN 2015-12-29  5734996  693.96997  693.96997  694.20001  674.0
4   AMZN 2015-12-30  3519303  689.07001  689.07001  689.09998  685.0
5   AMZN 2015-12-31  3749860  675.89001  675.85999  675.94000  695.0

To conduct outer join, set parameter **how** to "outer". A partitioned table can only be outer joined with a partitioned table. An in-memory table can only be outer joined with an in-memory table.

In [53]:
t1 = s.table(data={'TICKER': ['AMZN', 'AMZN', 'NFLX'], 'date': ['2015.12.29', '2015.12.30', '2015.12.31'], 'open': [674, 685, 942]})
t2 = s.table(data={'TICKER': ['AMZN', 'NFLX', 'NFLX'], 'date': ['2015.12.29', '2015.12.30', '2015.12.31'], 'close': [690, 936, 951]})
print(t1.merge(t2, how="outer", on=["TICKER","date"]).toDF())

select * from fj(TMP_TBL_189558ee,TMP_TBL_628cee9c,`TICKER`date,`TICKER`date)
  TICKER        date   open TMP_TBL_628cee9c_TICKER TMP_TBL_628cee9c_date  \
0   AMZN  2015.12.29  674.0                    AMZN            2015.12.29
1   AMZN  2015.12.30  685.0
2   NFLX  2015.12.31  942.0                    NFLX            2015.12.31
3                       NaN                    NFLX            2015.12.30

   close
0  690.0
1    NaN
2  951.0
3  936.0

#### 5.6.2 **merge_asof**

The asof join function is used in non-synchronous join. It is similar to the left join function witht the following differences:
1. The data type of the last matching column is usually temporal. For a row in the left table with time t, if there is not a match of left join in the right table, the row in the right table that corresponds to the most recent time before time t is taken, if all the other matching columns are matched; if there are more than one matching record in the right table, the last record is taken. 
2. If there is only 1 joining column, the asof join function assumes the right table is sorted on the joining column. If there are multiple joining columns, the asof join function assumes the right table is sorted on the last joining column within each group defined by the other joining columns. The right table does not need to be sorted by the other joining columns. If these conditions are not met, we may see unexpected results. The left table does not need to be sorted. 

For **merge_asof** and **merge_window**, we use data files trades.csv and quotes.csv, which are AAPL and FB trades and quotes data taken from NYSE website.

In [54]:
WORK_DIR = "C:/DolphinDB/Data"
if s.existsDatabase(WORK_DIR+"/tickDB"):
    s.dropDatabase(WORK_DIR+"/tickDB")
s.database('db', partitionType=ddb.VALUE, partitions=["AAPL","FB"], dbPath=WORK_DIR+"/tickDB")
trades = s.loadTextEx("db",  tableName='trades',partitionColumns=["Symbol"], filePath=WORK_DIR + "/trades.csv")
quotes = s.loadTextEx("db",  tableName='quotes',partitionColumns=["Symbol"], filePath=WORK_DIR + "/quotes.csv")

print(trades.top(5).toDF())

select top 5 Time,Symbol,Trade_Volume,Trade_Price from TMP_TBL_c189075f
              Time Symbol  Trade_Volume  Trade_Price
0  09:30:00.087488   AAPL        370466      117.100
1  09:30:00.087681   AAPL        370466      117.100
2  09:30:00.103645   AAPL           100      117.100
3  09:30:00.213850   AAPL            20      117.100
4  09:30:00.264854   AAPL            17      117.095

In [55]:
print(quotes.where("second(Time)>=09:29:59").top(5).toDF())

select top 5 Time,Symbol,Bid_Price,Bid_Size,Offer_Price,Offer_Size from TMP_TBL_e2374990 where second(Time)>=09:29:59
              Time Symbol  Bid_Price  Bid_Size  Offer_Price  Offer_Size
0  09:29:59.300399   AAPL     117.07         1       117.09           1
1  09:29:59.300954   AAPL     117.07         1       117.09           1
2  09:29:59.301594   AAPL     117.05         1       117.19          10
3  09:30:00.499924   AAPL     117.09        46       117.10           3
4  09:30:00.500005   AAPL     116.86        53       117.37          64

In [56]:
print(trades.merge_asof(quotes,on=["Symbol","Time"]).select(["Symbol","Time","Trade_Volume","Trade_Price","Bid_Price", "Bid_Size","Offer_Price", "Offer_Size"]).top(5).toDF())

select top 5 Symbol,Time,Trade_Volume,Trade_Price,Bid_Price,Bid_Size,Offer_Price,Offer_Size from aj(TMP_TBL_c189075f,TMP_TBL_e2374990,`Symbol`Time,`Symbol`Time)
  Symbol             Time  Trade_Volume  Trade_Price  Bid_Price  Bid_Size  \
0   AAPL  09:30:00.087488        370466      117.100     117.05         1
1   AAPL  09:30:00.087681        370466      117.100     117.05         1
2   AAPL  09:30:00.103645           100      117.100     117.05         1
3   AAPL  09:30:00.213850            20      117.100     117.05         1
4   AAPL  09:30:00.264854            17      117.095     117.05         1

   Offer_Price  Offer_Size
0       117.19          10
1       117.19          10
2       117.19          10
3       117.19          10
4       117.19          10

To calculate trading cost:

In [57]:
print(trades.merge_asof(quotes, on=["Symbol","Time"]).select("sum(Trade_Volume*abs(Trade_Price-(Bid_Price+Offer_Price)/2))/sum(Trade_Volume*Trade_Price)*10000 as cost").groupby("Symbol").toDF())

select sum(Trade_Volume*abs(Trade_Price-(Bid_Price+Offer_Price)/2))/sum(Trade_Volume*Trade_Price)*10000 as cost from aj(TMP_TBL_c189075f,TMP_TBL_e2374990,`Symbol`Time,`Symbol`Time) group by Symbol
select sum(Trade_Volume*abs(Trade_Price-(Bid_Price+Offer_Price)/2))/sum(Trade_Volume*Trade_Price)*10000 as cost from aj(TMP_TBL_c189075f,TMP_TBL_e2374990,`Symbol`Time,`Symbol`Time) group by Symbol
  Symbol      cost
0   AAPL  0.899823
1     FB  2.722923

#### 5.6.3 **merge_window**

**merge_window** (window join) is a generalization of asof join. With a window defined by parameters **leftBound** (w1) and **rightBound** (w2), for each row in the left table with the value of the last joining column equal to t, find the rows in the right table with the value of the last joining column between (t+w1) and (t+w2) conditional on all other joining columns are matched, then apply **aggFunctions** to the selected rows in the right table. 

The only difference between window join and prevailing window join is that if the right table doesn't contain a matching value for t+w1 (the left boundary of the window), prevailing window join will fill it with the last value before t+w1 (conditional on all other joining columns are matched), and apply **aggFunctions**. To use prevailing window join, set the parameter **prevailing** to be True.

In [58]:
print(trades.merge_window(quotes, -5000000000, 0, aggFunctions=["avg(Bid_Price)","avg(Offer_Price)"], on=["Symbol","Time"]).where("Time>=15:59:59").top(10).toDF())

wj(TMP_TBL_c189075f,TMP_TBL_e2374990,-5000000000:0,<[avg(Bid_Price),avg(Offer_Price)]>,`Symbol`Time,`Symbol`Time)
select top 10 * from wj(TMP_TBL_c189075f,TMP_TBL_e2374990,-5000000000:0,<[avg(Bid_Price),avg(Offer_Price)]>,`Symbol`Time,`Symbol`Time) where Time>=15:59:59
              Time Symbol  Trade_Volume  Trade_Price  avg_Bid_Price  \
0  15:59:59.003095   AAPL           250      117.620     117.603714
1  15:59:59.003748   AAPL           100      117.620     117.603714
2  15:59:59.011092   AAPL            95      117.620     117.603714
3  15:59:59.011336   AAPL           200      117.620     117.603714
4  15:59:59.022841   AAPL           144      117.610     117.603689
5  15:59:59.028169   AAPL           130      117.615     117.603544
6  15:59:59.035357   AAPL          1101      117.610     117.603544
7  15:59:59.035360   AAPL           799      117.610     117.603544
8  15:59:59.035602   AAPL           130      117.610     117.603544
9  15:59:59.036929   AAPL          2201      117.610     117.603544

   avg_Offer_Price
0       117.626816
1       117.626816
2       117.626816
3       117.626816
4       117.626803
5       117.626962
6       117.626962
7       117.626962
8       117.626962
9       117.626962

To calculate trading cost:

In [59]:
trades.merge_window(quotes,-1000000000, 0, aggFunctions="[wavg(Offer_Price, Offer_Size) as Offer_Price, wavg(Bid_Price, Bid_Size) as Bid_Price]", on=["Symbol","Time"], prevailing=True).select("sum(Trade_Volume*abs(Trade_Price-(Bid_Price+Offer_Price)/2))/sum(Trade_Volume*Trade_Price)*10000 as cost").groupby("Symbol").executeAs("tradingCost")

print(s.loadTable(tableName="tradingCost").toDF())

pwj(TMP_TBL_c189075f,TMP_TBL_e2374990,-1000000000:0,<[wavg(Offer_Price, Offer_Size) as Offer_Price, wavg(Bid_Price, Bid_Size) as Bid_Price]>,`Symbol`Time,`Symbol`Time)
select sum(Trade_Volume*abs(Trade_Price-(Bid_Price+Offer_Price)/2))/sum(Trade_Volume*Trade_Price)*10000 as cost from pwj(TMP_TBL_c189075f,TMP_TBL_e2374990,-1000000000:0,<[wavg(Offer_Price, Offer_Size) as Offer_Price, wavg(Bid_Price, Bid_Size) as Bid_Price]>,`Symbol`Time,`Symbol`Time) group by Symbol
tradingCost=select sum(Trade_Volume*abs(Trade_Price-(Bid_Price+Offer_Price)/2))/sum(Trade_Volume*Trade_Price)*10000 as cost from pwj(TMP_TBL_c189075f,TMP_TBL_e2374990,-1000000000:0,<[wavg(Offer_Price, Offer_Size) as Offer_Price, wavg(Bid_Price, Bid_Size) as Bid_Price]>,`Symbol`Time,`Symbol`Time) group by Symbol
select Symbol,cost from tradingCost
  Symbol      cost
0   AAPL  0.953315
1     FB  1.077876

#### 5.7 **executeAs**

Function **executeAs** saves query result as a table on DolphinDB server.

In [60]:
trade = s.loadTable(dbPath=WORK_DIR+"/valuedb", tableName="trade")
trade.select(['date','bid','ask','prc','vol']).where('TICKER=`AMZN').where('bid!=NULL').where('ask!=NULL').where('vol>10000000').sort('vol desc').executeAs("AMZN")

select date,bid,ask,prc,vol from TMP_TBL_a1ca3916 where TICKER=`AMZN and bid!=NULL and ask!=NULL and vol>10000000 order by vol desc
AMZN=(select date,bid,ask,prc,vol from TMP_TBL_a1ca3916 where TICKER=`AMZN and bid!=NULL and ask!=NULL and vol>10000000 order by vol desc)

To use the table "AMZN" on DolphinDB server:

In [61]:
t1=s.loadTable(tableName="AMZN")

#### 6 Regression

Method **ols** conducts ordinary least squares regression. It returns a dictionary with regression results.

In [62]:
trade = s.loadTable(tableName="trade",dbPath=WORK_DIR + "/valuedb", memoryMode=True)
z=trade.select(['bid','ask','prc']).ols('PRC', ['BID', 'ASK'])

print(z["ANOVA"])

select bid,ask,prc from TMP_TBL_8a1563fa
olsEx(sqlDS(<select bid,ask,prc from TMP_TBL_8a1563fa>),"PRC",['BID', 'ASK'],true,2)
    Breakdown     DF            SS            MS             F  Significance
0  Regression      2  2.689281e+08  1.344640e+08  1.214740e+10           0.0
1    Residual  13133  1.453740e+02  1.106937e-02           NaN           NaN
2       Total  13135  2.689282e+08           NaN           NaN           NaN

In [63]:
print(z["RegressionStat"])

           item    statistics
0            R2      0.999999
1    AdjustedR2      0.999999
2      StdError      0.105211
3  Observations  13136.000000

In [64]:
print(z["Coefficient"])

      factor      beta  stdError      tstat    pvalue
0  intercept  0.003710  0.001155   3.213187  0.001316
1        BID  0.605307  0.010517  57.552527  0.000000
2        ASK  0.394712  0.010515  37.537919  0.000000

In [65]:
print(z["Coefficient"].beta[1])

0.6053065015003085

The following example conducts regression on a partitioned database. Note that the ratio operator between 2 integer columns in DolphinDB is "\", which happens to be the escape character in Python, so we need to use "VOL\\SHROUT" in function **select**.

In [68]:
# result = s.loadTable(tableName="US",dbPath="dfs://US").select("select VOL\\SHROUT as turnover, abs(RET) as absRet, (ASK-BID)/(BID+ASK)*2 as spread, log(SHROUT*(BID+ASK)/2) as logMV").where("VOL>0").ols("turnover", ["absRet","logMV", "spread"], True)
# print(result["ANOVA"])

#### 7 **run**

A session object has a method **run** that can execute any DolphinDB script. If the script returns an object in DolphinDB, method **run** converts the object to a corresponding object in Python.

In [69]:
# Load table
trade = s.loadTable(dbPath=WORK_DIR+"/valuedb", tableName="trade")

# query the table and return a pandas DataFrame
t = s.run("select bid, ask, prc from trade where bid!=NULL, ask!=NULL, vol>1000")
print(t)

           bid       ask       prc
0      19.6250   19.6875   19.6875
1      21.7500   21.8750   21.7500
2      20.0625   20.1250   20.0625
3      19.8750   20.0000   20.0000
4      19.8750   20.0000   19.9375
5      19.0000   19.3125   19.0000
6      19.3750   19.5000   19.3750
7      17.7500   17.8750   17.8750
8      18.2500   18.5000   18.2500
9      19.0000   19.3125   19.2500
10     19.8125   19.8750   19.8125
11     19.1250   19.1875   19.1250
12     18.3750   18.7500   18.3750
13     18.1250   18.5000   18.1875
14     19.6250   20.0000   19.7500
15     20.8750   20.9375   20.8750
16     20.2500   21.0000   21.0000
17     19.8750   20.1250   19.8750
18     20.0000   20.1875   20.1875
19     20.8750   21.0000   20.8750
20     21.0000   21.1250   21.0000
21     22.0000   22.3750   22.0000
22     23.6250   23.7500   23.7500
23     22.8750   23.0000   23.0000
24     21.9375   22.0000   21.9375
25     21.7500   22.0625   22.0625
26     21.6875   21.8750   21.8750
27     20.3750   20.6250   20.3750
28     19.7500   19.9375   19.9375
29     21.0000   21.0625   21.0625
...        ...       ...       ...
4486   92.3900   92.4100   92.3900
4487   93.3500   93.3600   93.3600
4488   92.9800   93.0100   92.9800
4489   93.6400   93.6500   93.6500
4490   93.9500   93.9700   93.9700
4491   94.1100   94.1600   94.1600
4492   94.1000   94.1100   94.1100
4493   93.2500   93.2700   93.2500
4494   92.2000   92.2200   92.2000
4495   87.6400   87.6500   87.6400
4496   88.4500   88.4700   88.4500
4497   91.8700   91.8800   91.8800
4498   93.3900   93.4000   93.3900
4499   95.0400   95.0700   95.0700
4500   93.4700   93.4900   93.4800
4501   91.8000   91.8200   91.8200
4502   89.5700   89.5900   89.5900
4503   91.1700   91.1900   91.1700
4504   96.4400   96.4600   96.4500
4505   98.7000   98.7200   98.7100
4506  100.3900  100.4000  100.4100
4507  101.6500  101.6600  101.6300
4508  105.1700  105.1800  105.1700
4509  105.8200  105.8400  105.8300
4510  107.0900  107.1100  107.1100
4511  109.7700  109.7900  109.7800
4512  117.3100  117.3200  117.3200
4513  109.2500  109.2900  109.2500
4514  111.2600  111.4200  111.4300
4515  106.7300  106.7500  106.7400

[4516 rows x 3 columns]